@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }

  .right__side {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .right__side__desc h2 {
    font-size: 18px; /* azca kiçildir */
  }

  .right__side__desc p {
    font-size: 14px;
  }

  #gmail__btn,
  #register {
    font-size: 14px;
    padding: 10px;
    height: 44px;
  }

  input {
    font-size: 14px;
    padding: 10px;
  }

  hr {
    width: 100%;
    max-width: 250px;
    height: 2px;
    margin: 0 8px;
  }

  .form-group {
    gap: 20px; /* sütunlar arasındakı məsafə saxlanır */
  }

  .form-group input {
    width: 48%; /* yan-yana qalır */
  }
}
